<div class="flex items-center gap-4 bg-white px-4 py-2 rounded-full shadow-sm border border-slate-100">
    <app-button variant="ghost" size="sm" [disabled]="currentPage === 1" (onClick)="onPageChange.emit(currentPage - 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m15 18-6-6 6-6" />
        </svg>
    </app-button>

    <span class="text-sm font-medium text-slate-600">
        Page {{ currentPage }} of {{ totalPages }}
    </span>

    <app-button variant="ghost" size="sm" [disabled]="currentPage === totalPages"
        (onClick)="onPageChange.emit(currentPage + 1)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6" />
        </svg>
    </app-button>
</div>