@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0ea5e9;
  --accent: #D4AF37;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}
